Django==4.2.8
djangorestframework==3.14.0
django-cors-headers==4.3.1
Pillow
python-decouple==3.8
requests==2.31.0
Werkzeug==3.0.1
gunicorn==21.2.0
redis==5.0.1
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0
django-extensions==3.2.3
celery==5.3.4
python-dotenv==1.0.0
PyJWT==2.12.1
cryptography==41.0.7
pymysql
social-auth-app-django
whitenoise
